.board{
    display: flex;
    flex-direction: column;
    outline: 5px solid rgb(0, 195, 255);
}
.row{
    display: flex;
}

.cell{
    height: 3em;
    width: 3em;
    /* border: 1px solid rgb(0, 195, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.snake-cell{
    background-color: greenyellow;
}

.food-cell{
    background-color: rgb(255, 32, 32);
}

.rev-food-cell{
    background-color: rgb(99, 32, 255);
}

.buttons{
    margin-top:10px;
    display:flex;
    justify-content:space-evenly;
    
}
.buttons button{
    border: 1px solid white;
    background-color: grey;
    font-family:'Press Start 2P','Comic Sans MS';
    color: white;
    height: 3em;
    width: 10em;
}

.buttons button:hover{
    cursor: pointer;
    background-color:darkgrey;
}

.score{
    color: aliceblue;
    text-align: center;
    font-family:'Press Start 2P','Comic Sans MS';
}

.head-up{
    transform: rotate(90deg);
    justify-content:flex-start;
}
.head-down{
    transform: rotate(90deg);
    justify-content:flex-end;
}
.head-right{
    justify-content:flex-end;
}
.head-left{
    justify-content:flex-start;
}

.space-right{
    margin-top: 10px;
    margin-right: 8px;
}

.space-left{
    margin-left: 8px;
    margin-top: 10px;
}

.space-up{
    margin-top: 10px;
    margin-left: 8px;
}

.space-down{
    margin-top: 10px;
    margin-right: 8px;
}

.instructions{
    position: absolute;
    left: 2%;
    height: 30em;
    width: 25em;
    padding: 2em;
}

.instructions h1{
    font-family:'Press Start 2P', 'Comic Sans MS';
    color: white;
}

.instructions div{
    font-family:'Press Start 2P', 'Comic Sans MS';
    color: white;
}

.controls{
    display: flex;
    align-items: center;
}

.instructions p{
    border: 1px solid white;
    font-family:'Press Start 2P', 'Comic Sans MS';
    color: white;
    width: max-content;
    padding: 1em;
    margin-right: 1em;
}

.note{
    margin-top: 1em;
}

.note span{
    height: 0.6em;
    width: 0.6em;
    background-color: rgb(99, 32, 255);
}