.board{
    display: flex;
    flex-direction: column;
    outline: 5px solid rgb(0, 195, 255);
}
.row{
    display: flex;
}

.cell{
    height: 3em;
    width: 3em;
    /* border: 1px solid rgb(0, 195, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.snake-cell{
    background-color: greenyellow;
}

.food-cell{
    background-color: rgb(255, 32, 32);
}

.rev-food-cell{
    background-color: rgb(99, 32, 255);
}

.buttons{
    margin-top:10px;
    display:flex;
    justify-content:space-evenly;
    
}
.buttons button{
    border: 2px solid rgb(0, 195, 255);
    background-color: transparent;
    border-radius: 30px;
    color: white;
    height: 3em;
    width: 7em;
}

.score{
    color: aliceblue;
    text-align: center;
    font-family:'Comic Sans MS';
}

.head-up{
    transform: rotate(90deg);
    justify-content:flex-start;
}
.head-down{
    transform: rotate(90deg);
    justify-content:flex-end;
}
.head-right{
    justify-content:flex-end;
}
.head-left{
    justify-content:flex-start;
}

.space-right{
    margin-top: 12px;
    margin-right: 8px;
}

.space-left{
    margin-left: 8px;
    margin-top: 12px;
}

.space-up{
    margin-top: 12px;
    margin-left: 8px;
}

.space-down{
    margin-top: 12px;
    margin-right: 8px;
}