.board{
    display: flex;
    flex-direction: column;
    outline: 1px solid rgb(0, 195, 255);
}
.row{
    display: flex;
}

.cell{
    height: 3.5em;
    width: 3.5em;
    border: 1px solid rgb(0, 195, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.snake-cell{
    background-color: greenyellow;
}

.food-cell{
    background-color: rgb(255, 32, 32);
}